<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Vortex Left4Dead2 Motd</title>

	<link rel="stylesheet" type="text/css" href="/files/style.css"/>
	<script src="/files/jquery-1.9.1.min.js"></script>
	<script src="/files/jquery-tabs.js"></script>

	<style>
		@font-face {
			font-family: "Verdana";
			src: url("/files/Verdana.ttf") format("woff2");
			font-weight: normal;
			font-style: normal;
		}

		body {
			zoom: 1.1;
			margin: 40px auto;
			background: url("/<%= season %>/<%= randomImage %>.jpg") no-repeat center top fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			background-position: 100%;
			background-attachment: fixed;
			background-color: black;
			font-family: "Verdana", Arial, Helvetica, sans-serif;
			font-size: 18px;
			color: white;
			width: 600px;
			min-width: 800px;
			width: 95%;
			overflow-y: scroll;
		}
	</style>

	<script>
		$(function () {
			// Add a click handler only for links with the "redirect-link" class
			$(".redirect-link").click(function (e) {
				e.preventDefault(); // Prevent the default link behavior (navigation)

				// Get the value of the href attribute of the clicked link
				const targetUrl = $(this).attr("href");

				// Redirect to the target URL
				window.location.href = targetUrl;
			});

			// Initialize the tab plugin
			$("ul.tabs").tabs("div.panes > div");
		});
	</script>

</head>

<body>
<ul class="tabs">
	<li><a href="" class="current">Main</a></li>
	<li><a href="" class="">Information</a></li>
	<li><a href="" class="">Privileges</a></li>
	<li>
		<a href="/motd/<%= server.ID %>/ru" class="redirect-link">RU версия ➤</a>
	</li>
</ul>

<!-- tab "panes" -->
<div class="panes">
	<!-- EN -->
	<div style="display: block">
		<p align="center" class="flag-russia">
			<strong> <%= server.NAME %> </strong>
		</p>
		<p align="center" class="flag-russia">
			<%= server.IP %>:<%= server.PORT %>
		</p>
		<br/>
		<p>
			If you're here, it's time to dive into the new dimension of Vortex!
		</p>
		<p>
			This is not just a modification, it's our shared passion brought to life in the game.
		</p>
		<p>
			We've created this project to give you unforgettable emotions and a fresh perspective on our favorite game <3
		</p>
		<p>
		   [ <strong class="gg">Website</strong> vortexl4d4.ru | <strong class="gg">Community</strong> !discord | <strong class="gg">Steam group</strong> !steam ]
		</p>
		<br/>
		<p align="left" class="flag-russia">Server Commands:</p>
		<table id="cmd" cellspacing="1" cellpadding="1">
			<tbody>
			<tr>
				<td class="chat">!perks</td>
				<td>Choose perks (special abilities)</td>
			</tr>
			<tr>
				<td class="chat">!w or !shop</td>
				<td>Purchase weapons with coins</td>
			</tr>
			<tr>
				<td class="chat">!coins</td>
				<td>Check your current balance</td>
			</tr>
			<tr>
				<td class="chat">!tip</td>
				<td>Share coins with another player</td>
			</tr>
			<tr>
				<td class="chat">!pass</td>
				<td>Pass a Tank to another player</td>
			</tr>
			<tr>
				<td class="chat">!js</td>
				<td>Switch to survivors</td>
			</tr>
			<tr>
				<td class="chat">!ji</td>
				<td>Switch to infected</td>
			</tr>
			<tr>
				<td class="chat">!afk</td>
				<td>Switch to spectators</td>
			</tr>
			<tr>
				<td class="gg">R button</td>
				<td>Ghost flight for VIP/Premium/Legend</td>
			</tr>
			<tr>
				<td class="gg">!sp</td>
				<td>Sound effects pack for Premium/Legend</td>
			</tr>
			<tr></tr>
				<td class="gg">!hat</td>
				<td>Collection of hats for Legend</strong></td>
			</tr>
			<tr>
				<td class="chat">!kill</td>
				<td>To choose the easy way out</td>
			</tr>
			<tr>
				<td class="chat">!votemap</td>
				<td>Choose the next campaign</td>
			</tr>
			</tbody>
		</table>
		<p>
			The server has a special rating system that determines the best survivor and infected player of the round!
		</p>
	</div>
	<!-- F.A.Q. -->
	<div style="display: none">
		<p align="center" class="flag-russia">
			Frequently Asked Questions
		</p>
		<h3><strong class="gg">Perks - Abilities</strong></h3>
		<p>
			Each player has access to a range of abilities, which you can read about by typing !perk
		</p>
		<p>
			It might be a bit difficult to understand at first, but it's worth it, the admin promises!
		</p>
		<br/>
		<h3><strong class="gg">Endgame Collapse</strong></h3>
		<p>
			The final sprint to the safe room! When the survivors are close to the safe room, the military begins clearing the surrounding area,
		</p>
		<p>
			a countdown to bombardment begins - you need to make it to the safe room in one piece and fend off the horde!
		</p>
		<br/>
		<h3><strong class="gg">Perk Effects:</strong></h3>
		<p>
			Perks can apply <strong class="chat">Positive</strong> and <strong>Negative</strong> effects.
		</p>
		<br/>
		<hr/>
		<br/>
		<p>
			<strong class="chat">Rage</strong> - Anyone who deals damage to you will be knocked back, and your attacks will speed up!
		</p>
		<p>
			<strong class="chat">Persistence</strong> - Reduces incoming damage from enemies by a certain percentage.
		</p>
		<p>
			<strong class="chat">Haste</strong> - Increases movement speed by a certain percentage. </p>
		<p>
			<strong class="chat">Endurance</strong> - This effect can save you from being incapacitated.
		</p>
		<br/>
		<hr/>
		<br/>
		<p>
			<strong>Hindered</strong> - Reduces movement speed by a certain percentage.
		</p>
		<p>
			<strong>Exposed</strong> - Increases damage taken. Removed after healing or getting hurt.
		</p>
		<p>
			<strong>Poisoning</strong> - Permanent health under this effect is converted to temporary health.
		</p>
		<p>
			<strong>Exhausted</strong> - Prevents the use of certain perks, such as "Sprinter".
		</p>
		<p>
			<strong>Deep Wound</strong> - You'll gradually bleed out and fall soon, regardless of HP.
		</p>
	</div>

	<!-- VIP/PREM -->
	<div style="display: none">
		<p align="center" class="flag-russia">
			<strong class="gg">Support the Server on Boosty!</strong>
		</p>
		<p>
			If you like the project, you can support its development on the Boosty platform!
		</p>
		<p>
			You can also purchase privileges there! On the Perks server, they include:
		</p>
		<br/>
		<hr/>
		<br/>
		<table id="cmd" cellspacing="1" cellpadding="4">
			<tbody>
			<tr>
				<td class="chat">Benefits</td>
				<td>VIP</td>
				<td>PREMIUM</td>
				<td>LEGENDARY</td>
			</tr>
			<tr>
				<td>Ghost Flight</td>
				<td align="center">✔</td>
				<td align="center">✔</td>
				<td align="center">✔</td>
			</tr>
			<tr>
				<td>Kick Protection:</td>
				<td align="center">LVL-1</td>
				<td align="center">LVL-2</td>
				<td align="center">LVL-3</td>
			</tr>
			<tr>
				<td>Coins each round</td>
				<td align="center">500</td>
				<td align="center">1000</td>
				<td align="center">1500</td>
			</tr>
			<tr>
				<td>Vortex coins booster</td>
				<td align="center">+25%</td>
				<td align="center">+50%</td>
				<td align="center">+100%</td>
			</tr>
			<tr>
				<td>Visual indication in chat</td>
				<td align="center">✔</td>
				<td align="center">✔</td>
				<td align="center">✔</td>
			</tr>
			<tr>
				<td>Access to meme soundpad</td>
				<td></td>
				<td align="center">✔</td>
				<td align="center">✔</td>
			</tr>
			<tr>
				<td>Perks saved when leaving the game</td>
				<td></td>
				<td align="center">✔</td>
				<td align="center">✔</td>
			</tr>
			<tr>
				<td>Access to wear hats</td>
				<td></td>
				<td></td>
				<td align="center">✔</td>
			</tr>
			<tr>
				<td>Ability to add a track to Jukebox</td>
				<td></td>
				<td></td>
				<td align="center">✔</td>
			</tr>
			<tr>
				<td>New features (in future)</td>
				<td></td>
				<td></td>
				<td align="center">✔</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- @end .panes -->
<script>
	$(function () {
		$("ul.tabs").tabs("div.panes > div");
	});
</script>
</body>
</html>